/*------------
1. VARIABLES
--------------*/

  $color-font-primary:   #333333;
  $color-font-secondary: #999999;
  $color-font-success:   rgb(28, 184, 65);
  $color-font-error:     rgb(202, 60, 60);
  $color-font-warning:   rgb(223, 117, 20);

  $color-background: #FCFCFC;
  $color-accent1:    #AAAAAA;
  $color-accent2:    #FCFCFC;

/*------------
2. STYLING
------------*/

  body {
    background-color: $color-background;
  }

  /* PURE BUTTONS */
  .button-success, .button-error, .button-warning, .button-secondary {
    color:         #FFF;
    border-radius: 4px;
    text-shadow:   0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .button-success { background: $color-font-success; }
  .button-error { background: $color-font-error; }
  .button-warning { background: $color-font-warning; }
  .button-secondary { background: rgb(66, 184, 221); }

  /* INPUT ERRORS */
  .pure-form input.invalid, div.error p {
    color:        $color-font-error;
    border-color: darken($color-font-error, 10%);
  }

/*------------
3. LAYOUT
--------------*/

  // The bottom margin should be adjusted depending on the amount of text in the footer
  main.main {
    display: block;
    margin:  0 30px 2.5rem 30px;
  }

  header.main {
    display: block;
    margin:  0px 30px;

    p {
      padding:    0px 15px;
      text-align: center;

      color:       $color-font-primary;
      font-style:  italic;
      font-weight: 200;
    }
  }

  footer.main {
    display:    block;
    width:      100%;
    padding:    3px;
    text-align: center;
    
    position: fixed;
    bottom:   0px;

    background:  $color-background;
    color:       $color-font-secondary;
    font-size:   .75em;
    font-style:  italic;
    font-weight: 300;
    box-shadow:  0px -1px 2px rgba(0, 0, 0, 0.2);
  }

  /* LOGIN */
  .login {
    width:       100%;
    padding-top: 10px;

    div.error {
      margin: 1em;

      p {
        padding: 1.2em 0;
        background-color: lighten($color-font-error, 40%);
        border-radius:    .3em;
        border:           1px solid $color-font-error;
      }
    }

    form {
      display: table;
      margin: 0px auto;
    }
  }

  /* MISC. */
  .right { text-align: right; }
  .center { text-align: center; }
  
  .lg-center {
    text-align: center;

    @media only screen and(max-width: 760px) {
      text-align: left;
    }
  }

  /* FILTER */
  .filter {
    position: relative;

    color:     $color-accent1;
    font-size: 0.9em;

    input {
      width:       250px;
      height:      32px;
      text-indent: 32px;
      padding-top: 0.25em;

      background:    $color-accent2;
      border:        1px solid $color-accent1;
      border-radius: 3px;
    }

    .fa-search {
      position: absolute;
      top:      12px;
      left:     10px;
    }

    // >= 568px is the pure-css cutoff for small grid sizes
    @media only screen and(max-width: 567px) {
      input {
        width: 100%;
      }
    }
  }

  /* ERRORS SUBMODULE */
  ul.errors {
    margin:              0;
    padding:             0;
    list-style-position: inside;

    color: darken($color-font-error, 10%);

    li {
      margin-left: 1em;
    }
  }

  /* UTILITY STRIP */
  .utility-strip {
    text-align: right;

    // >= 568px is the pure-css cutoff for small grid sizes
    @media only screen and(max-width: 567px) {
      text-align: left;
    }
  }

  /* DEVICE COLLECTION */
  table.device-collection {
    width: 100%;

    &.sortable th {
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: lighten($color-accent1, 25%);
    }

    th.center, td.center {
      text-align: center;
    }

    td.error {
      color: $color-font-error;
    }

    td.warning {
      color: $color-font-warning;
    }

    td.success {
      color: $color-font-success;
    }

    td.error .fa, td.warning .fa, td.success .fa {
      cursor: default;
    }

    @media only screen and(max-width: 760px) {
      display: block;

      border:        none;
      border-bottom: 1px solid $color-accent1;

      thead, tbody, tr, td {
        display: block;
      }

      thead tr {
        position: absolute;
        top:      -9999px;
        left:     -9999px;
      }

      tr {
        border:        1px solid $color-accent1;
        border-bottom: none;
      }

      td {
        position:     relative;
        padding-left: 50% !important;
        border:       none;

        // Center-aligned cells in this format look really wierd.
        &.center {
          text-align: left;
        }

        // Unhide hidden spans
        span.hidden {
          display: inline !important;
        }
      }

      td:before {
        width:    45%;
        position: absolute;
        top:      8px;
        left:     6px;

        font-weight:  bold;
      }

      // Insert headers
      td:nth-of-type(1):before { content: 'Name'; }
      td:nth-of-type(2):before { content: 'Type'; }
      td:nth-of-type(3):before { content: 'Address'; }
      td:nth-of-type(4):before { content: 'Username'; }
      td:nth-of-type(5):before { content: 'Status'; color: $color-font-primary; }
      td:nth-of-type(6):before { content: 'Last Attempt'; }
    }
  }
