<div class="main-content container section flow">
    <h2>
        <span class="size-l">
            <a href="/devices/<%= @name %>"><%= @name %></a> Device Config
        </span>

        <span class="size-m">(<%= @date %>)</span>
    </h2>

    <div class="main-content">
        <textarea class="pre width-100 height-100 flex-100" disabled><%= @config %></textarea>
    </div>
</div>
